<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

    <!--Add a nav bar here -->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Dealership Review</a>
        <a class="navbar-brand"  href="{% url 'djangoapp:about' %}">About Us</a>
        <a class="navbar-brand"  href="{% url 'djangoapp:contact' %}">Contact Us</a>
        </div>
    

<ul class="nav navbar-nav navbar-right">
    
    {% if user.is_authenticated %}
    
            <li>
                <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
            </li>
            {% else %}
            <li>
                <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Username" name="username" >
                        <input type="password" class="form-control" placeholder="Password" name="psw" >
                        <button class="btn btn-primary" type="submit">Login</button>
                        <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                    </div>
                </form>
            </li>
            {% endif %}
</ul>
</div>
</div>
</div>
</nav>

    <!-- Add reviews as cards -->
    <html>
    <h1 class="container-fluid">
        <div class="card-columns-vertical">
            <div class="card">
                <address>
            
                    Visit us at:<br>
                    
                    Woodford Way 1234567, Ottawa<br>
                    CA
                </address>
            </div>
            <div class="card">
                <p>Call us at: <a href="tel:1234567890">123-456-7890</a>.</p>
            </div>
        </div>
    </h1>
    </html>

    </body>

</html>

